<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
	<!-- widget options:
	usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

	data-widget-colorbutton="false"
	data-widget-editbutton="false"
	data-widget-togglebutton="false"
	data-widget-deletebutton="false"
	data-widget-fullscreenbutton="false"
	data-widget-custombutton="false"
	data-widget-collapsed="true"
	data-widget-sortable="false"

	-->
	<header>
		<span class="widget-icon"> <i class="fa fa-table"></i> </span>
		<h2>Language Statistic</h2>

	</header>

	<!-- widget div-->
	<div>

		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->

		</div>
		<!-- end widget edit box -->
		<!-- widget content -->
		<div class="widget-body">

			<div class="table-responsive">

				<table class="table table-bordered" style="text-align:center;">
					<thead>
						<tr>
							<th style="width:10%;text-align:center;">Monthly</th>
							<th style="width:10%;text-align:center;">Java</th>
							<th style="width:10%;text-align:center;">PHP</th>
							<th style="width:10%;text-align:center;">Ruby</th>
							<th style="width:10%;text-align:center;">Python</th>
							<th style="width:10%;text-align:center;">.Net</th>
							<th style="width:10%;text-align:center;">Sharepoint</th>
							<th style="width:10%;text-align:center;">Android</th>
							<th style="width:10%;text-align:center;">Ios</th>
							<th style="width:10%;text-align:center;">Magento</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>12</td>
							<td>4</td>
							<td>5</td>
							<td>9</td>
							<td>1</td>
							<td>1</td>
							<td>3</td>
							<td>8</td>
							<td>6</td>
						</tr>
						<tr>
							<td>2</td>
							<td>2</td>
							<td>4</td>
							<td>6</td>
							<td>4</td>
							<td>6</td>
							<td>2</td>
							<td>10</td>
							<td>2</td>
							<td>0</td>
						</tr>
						<tr>
							<td>3</td>
							<td>4</td>
							<td>6</td>
							<td>7</td>
							<td>9</td>
							<td>7</td>
							<td>2</td>
							<td>4</td>
							<td>1</td>
							<td>0</td>
						</tr>
						<tr>
							<td>4</td>
							<td>5</td>
							<td>4</td>
							<td>7</td>
							<td>4</td>
							<td>2</td>
							<td>8</td>
							<td>7</td>
							<td>9</td>
							<td>6</td>
						</tr>
						<tr>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>3</td>
							<td>8</td>
							<td>3</td>
							<td>7</td>
							<td>2</td>
							<td>2</td>
							<td>1</td>
						</tr>
						<tr>
							<td>6</td>
							<td>4</td>
							<td>6</td>
							<td>9</td>
							<td>0</td>
							<td>12</td>
							<td>13</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
						</tr>
						<tr>
							<td>7</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>6</td>
							<td>0</td>
						</tr>
						<tr>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>3</td>
							<td>4</td>
							<td>2</td>
							<td>2</td>
						</tr>
						<tr>
							<td>9</td>
							<td>2</td>
							<td>4</td>
							<td>6</td>
							<td>4</td>
							<td>7</td>
							<td>3</td>
							<td>7</td>
							<td>5</td>
							<td>4</td>
						</tr>
						<tr>
							<td>10</td>
							<td>1</td>
							<td>2</td>
							<td>4</td>
							<td>2</td>
							<td>4</td>
							<td>5</td>
							<td>4</td>
							<td>4</td>
							<td>3</td>
						</tr>
						<tr>
							<td>11</td>
							<td>4</td>
							<td>5</td>
							<td>3</td>
							<td>2</td>
							<td>5</td>
							<td>3</td>
							<td>7</td>
							<td>3</td>
							<td>1</td>
						</tr>
						<tr>
							<td>12</td>
							<td>6</td>
							<td>3</td>
							<td>6</td>
							<td>3</td>
							<td>2</td>
							<td>4</td>
							<td>3</td>
							<td>2</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<!-- end widget content -->

	</div>
	<!-- end widget div -->

</div>
<!-- end widget -->

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
	<!-- widget options:
	usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

	data-widget-colorbutton="false"
	data-widget-editbutton="false"
	data-widget-togglebutton="false"
	data-widget-deletebutton="false"
	data-widget-fullscreenbutton="false"
	data-widget-custombutton="false"
	data-widget-collapsed="true"
	data-widget-sortable="false"

	-->
	<header>
		<span class="widget-icon"> <i class="fa fa-table"></i> </span>
		<h2>Position Statistic</h2>

	</header>

	<!-- widget div-->
	<div>

		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->

		</div>
		<!-- end widget edit box -->
		<!-- widget content -->
		<div class="widget-body">

			<div class="table-responsive">

				<table class="table table-bordered" style="text-align:center;">
					<thead>
						<tr>
							<th style="width:12%;text-align:center;">Monthly</th>
							<th style="width:22%;text-align:center;">Brse</th>
							<th style="width:22%;text-align:center;">PM</th>
							<th style="width:22%;text-align:center;">Dev</th>
							<th style="width:22%;text-align:center;">QA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>12</td>
							<td>4</td>
							<td>5</td>
							<td>9</td>
						</tr>
						<tr>
							<td>2</td>
							<td>2</td>
							<td>4</td>
							<td>6</td>
							<td>4</td>
						</tr>
						<tr>
							<td>3</td>
							<td>4</td>
							<td>6</td>
							<td>7</td>
							<td>9</td>
						</tr>
						<tr>
							<td>4</td>
							<td>5</td>
							<td>4</td>
							<td>7</td>
							<td>4</td>
						</tr>
						<tr>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>3</td>
							<td>8</td>
						</tr>
						<tr>
							<td>6</td>
							<td>4</td>
							<td>6</td>
							<td>9</td>
							<td>0</td>
						</tr>
						<tr>
							<td>7</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
						</tr>
						<tr>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr>
							<td>9</td>
							<td>2</td>
							<td>4</td>
							<td>6</td>
							<td>4</td>
						</tr>
						<tr>
							<td>10</td>
							<td>1</td>
							<td>2</td>
							<td>4</td>
							<td>2</td>
						</tr>
						<tr>
							<td>11</td>
							<td>4</td>
							<td>5</td>
							<td>3</td>
							<td>2</td>
						</tr>
						<tr>
							<td>12</td>
							<td>6</td>
							<td>3</td>
							<td>6</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<!-- end widget content -->

	</div>
	<!-- end widget div -->

</div>
<!-- end widget -->